.post {
  margin-bottom: 25px;

  &--title {
    margin: 10px 0;
  }

  &--info {
    margin-top: 15px;
  }

  &--meta {
    display: inline-block;
    margin-right: 15px;
  }

  &--tag {
    margin-right: 5px;
  }

  &--published_at {
    color: var(--meta-color);
  }
}
