.logo {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  font-size: 65px;
  text-align: center;
  line-height: 80px;
  position: relative;

  &--url {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    border-color: $primary-color;

    .logo--underscore {
      color: $primary-color;
    }
  }
}
