.personal-board {
    text-align: center;

    &__sub {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

.avatar {
    display: inline-block;

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }

    &__image_small {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
}

@media (max-width: $breakpoint-mobile) {
    .avatar {
        &__image {
            width: 150px;
            height: 150px;
        }

        &__image_small {
            width: 80px;
            height: 80px;
        }
    }
}
