.p-color {
    color: var(--primray-color);
}

.meta-color {
    color: var(--meta-color);
}

@media (max-width: $breakpoint) {
    .center-on-breakpoint {
        text-align: center;
    }
}

.mt-0 {
    margin-top: 0 !important;
}

.text-center {
    text-align: center;
}
