//.main-content {
//
//}
//
//.main-sidebar {
//  width: 20%;
//  float: left;
//  background-color: #eee;
//  position: fixed;
//  top: 0;
//  bottom: 0;
//  left: 0;
//}
//
//.page-content {
//  width: 50%;
//  float: left;
//  margin-left: 20%;
//}
//
//.right-sidebar {
//  width: 30%;
//  float: left;
//}

.main-content {
  display: flex;
}

.main-sidebar {
  background-color: #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
}

.main-sidebar--header {
  .logo {
    margin: 50px auto;
  }
}

.page-content {
  flex: 5 0 50%;
  margin-left: 20%;
}

.right-sidebar {
  flex: 3 0 30%;
}
