.post-summary {
  margin-bottom: 25px;
  text-align: justify;

  &__title {
    margin: 10px 0;
  }

  &__excerpt {
    margin-bottom: 15px;
    hyphens: auto;
  }
}

.post-info {
  &__meta {
    display: inline-block;
    margin-right: 20px;
  }

  &__tag {
    margin-right: 10px;
  }

  &__published_at {
    color: var(--meta-color);
  }
}

.post-single {
  margin-top: 20px;
  text-align: justify;

  &__content {
    //font-weight: 500;
    line-height: 1.8em;
  }
}
