:root {
    --primray-color: #{$primary-color};
    --text-color: #{$text-color};
    --meta-color: #{$meta-color};
    --border-color: #{$border-color};
    --code-color: #{$code-color};
    --code-bgc: #{$code-bgc};

    --main-font: #{$main-font};
    --serif-font: #{$serif-font};
}
