extends ../layouts/main

block prepend head
    - var title = 'Home'

block content
    include ../includes/sidebar
    main.page-content
        include ../includes/article
        include ../includes/article
        include ../includes/article
        include ../includes/article
    include ../includes/right-sidebar

