extends ../layouts/main

block prepend head
    - var title = `${post.title} - My Blog`

block content
    article.post-single
        +post-info(post)
        h1.post-single__title=post.title
        .post-single__content !{post.body}
