.header {
  &__menu {
    font-family: $sans-font;
    margin: 20px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding: 0;

    li {
      display: inline-block;
      margin: 10px;
    }
  }
}
