.main-sidebar {
  padding: 30px;
  display: flex;
  flex-direction: column;
  &--top {
    flex-grow: 1;
  }

  &--header {
    display: flow-root;
    margin-bottom: 20px;

    .logo {
      margin: 30px auto 20px auto;
    }
  }

  .moto {
    font-style: italic;
    text-align: center;
  }

  &--menu {
    font-family: $sans-font;
    margin: 20px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  &--separator {
    margin: 0 30%;
  }

  &-footer {
    text-align: center;
    font-family: var(--serif-font);
    font-size: 14px;
  }

  @media (max-width: $breakpoint) {
    padding: 20px 20px 0 20px;
    &--menu {
      margin: 10px 20px;

      li {
        display: inline-block;
        margin: 10px;
      }
    }

    &-footer {
      display: none;
    }
  }
}
