.main-sidebar {
  display: flex;
  flex-direction: column;
  &--top {
    flex-grow: 1;
  }

  &--header {
    margin: 20px;
    display: flow-root;

    .logo {
      margin: 30px auto 20px auto;
    }
  }

  .moto {
    font-style: italic;
    text-align: center;
  }

  &--menu {
    font-family: $sans-font;
    margin: 20px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  &--separator {
    margin: 0 30%;
  }

  &-footer {
    margin: 10px;
    text-align: center;
    font-family: var(--serif-font);
    font-size: 14px;
  }
}
