mixin google-analytics(trackingCode)
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=' + trackingCode)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '#{trackingCode}');
