$primary-color: #b31900;
$text-color: #444444;
$meta-color: #999999;
$border-color: #dddddd;
$code-color: $text-color;
$code-bgc: #eeeeee;
$serif-font: 'Adamina', serif;
$sans-font: 'Poppins', sans-serif;
$main-font: $serif-font;
$breakpoint: 1100px;
$breakpoint-mobile: 600px;
