extends ../layouts/main

block prepend head
    - var title = 'Writings';

block append head
    - var description = 'Latest writings';
    meta(property='og:description' content=description)
    meta(property='og:url' content=rootUrl('/writings.html'))
    meta(property='description' content=description)

block content
    +header
    +personal-board-small
    if posts.length > 0
        each post in posts
            +post-summary(post)
    else
        p.text-center.meta-color Stay tuned, new articles will be listed here soon!

