doctype html
html(lang='en')
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title #{title || 'MyBlog Template'}
            link(rel='stylesheet' href='main.css')
    body
        div.myblog.main-content
            block content
        script(src='index.js')
