mixin header
    header.header
        ul.header__menu
            li
                a(href=url('/')) About
            li
                a(href=url('/writings.html')) Writings
            li
                a(href='https://github.com/sinzii' target='_blank') Code
            li
                a(href=url('/rss.xml')) RSS
