mixin article(post)
    article.post
        h3.post--title
            a(href=`${baseUrl}/posts/${post.slug}.html`)=post.title
        div.post--excerpt=post.excerpt
        div.post--info
            span.post--meta.post--published_at=post.publishedAt
            span.post--meta.post--tags
                each tag in post.tags
                    a.post--tag(href=`${baseUrl}/tags/${tag}.html`)='#' + tag
