article.post
    h3.post--title
        a(href='post.html') First Hello
    div.post--excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur doloremque fugit quaerat quibusdam.
    div.post--info
        span.post--meta.post--published_at 13/05/2021 20:00
        span.post--meta.post--tags
            a.post--tag(href='/') #random
            a.post--tag(href='/') #thought
            a.post--tag(href='/') #life
