aside.main-sidebar
    .main-sidebar--top
        div.main-sidebar--header
            div.moto "It’s not that I’m so smart, it’s just that I stay with problems longer." – Albert Einstein
        hr.main-sidebar--separator
        ul.main-sidebar--menu
            li
                a(href=url('/')) About
            li
                a(href=url('/writings.html')) Writings
            li
                a(href='https://github.com/sinzii' target='_blank') Code
            li
                a(href=url('/rss.xml')) RSS
    .main-sidebar-footer
        span Powered by a&nbsp;
            a(href='https://github.com/sinzii/sinzii.github.io' target='_blank')
                strong DIY site generator

