aside.main-sidebar
    div.main-sidebar--header
        div.logo
            span.logo--inner S
            span.logo--underscore _
            a.logo--url(href="/")
    ul.main-menu
        li
            a(href='index.html') Index
        li
            a(href='about.html') About
