@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  color: $text-color;
  font-family: $main-font;
  font-size: 18px;
}

.page-content {
  margin: 0 50px 30px 50px;

  @media (max-width: $breakpoint) {
    margin: 0 35px 30px 35px;
  }
}

a {
  color: var(--primray-color);
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--meta-color);
  opacity: 0.4;
  margin: 30px 0;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

pre > code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: var(--code-color);
  background: var(--code-bgc);
  line-height: 1.5;
}

code {
  background: var(--code-bgc);
  padding: 3px 5px;
  border-radius: 5px;
  color: var(--primray-color);
}

.fork-me {
  position: fixed;
  top: 0;
  right: 0;

  &:hover {
    border: none;
  }
}
