mixin header
    header.header
        ul.header__menu
            li
                a(href=url('/')) About
            li
                a(href=url('/writings.html')) Writings
            li
                a(href=me.github target='_blank') Code
            li
                a(href=url('/rss.xml') target='_blank') RSS
